/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis CSS */
:root{
    --color-light: #f1f1f1;
    --color-dark: #333333;
    --color-green-100: rgb(87, 151, 28);
    --color-green-800: rgb(4, 42, 13);
    --radius: 8px;
    --gradient: linear-gradient(to top,rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)); 
}

/*************** formatações base ***************/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 900;
    transition: color .5s;
}

a:hover {
    color: var(--color-green-100);
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}
/*************** fim formatações base ***************/


/***************   Hero da página   ***************/
.hero {
    width: 100%;
    min-height: 100dvh;
    padding: 3rem;
    background-image: var(--gradient), url(../images/index/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: var(--color-light);
   
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 4.5rem;
    position: relative;
    z-index: 2;
}

span {
    color: var(--color-green-100);
}

.header-menu {
    display: flex;
    gap: 2rem;
}

.sanduiche{
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: none;
}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-light);
    margin: .5rem auto;
    border-radius: var(--radius);
    transition: .5s;
}

/*************** Fim Hero da página ***************/


