/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis CSS */
:root {
    --color-light: #f1f1f1;
    --color-dark: #333333;
    --color-green-100: rgb(87, 151, 28);
    --color-green-800: rgb(4, 42, 13);
    --radius: 8px;
    --gradient: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
}

/*************** formatações base ***************/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 900;
    transition: color .5s;
}

a:hover {
    color: var(--color-green-100);
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/*************** fim formatações base ***************/


/***************   Hero da página   ***************/
.hero {
    width: 100%;
    min-height: 100dvh;
    padding: 3rem;
    /* background-image: var(--gradient), url(../images/index/banner.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.banner #image{
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 4.5rem;
    position: relative;
    z-index: 2;
}

span {
    color: var(--color-green-100);
}

.header-menu {
    display: flex;
    gap: 2rem;
}

.sanduiche {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: none;
}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-light);
    margin: .5rem auto;
    border-radius: var(--radius);
    transition: .5s;
}

.header-footer h1 {
    font-size: clamp(3.5rem, 8vmax, 10rem);
}

.header-footer p {
    font-size: 2rem;
    font-weight: 800;
    margin-left: .5rem;
}

/*************** Fim Hero da página ***************/


/***********************   Energy Solutuions   ***********************/
.container {
    padding: 1rem 4rem;
    margin-top: 3rem;
}

.titles {
    font-size: 4.5rem;
    width: 60%;
    margin: 2rem 0;
}

.energy-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.energy-grid-item {
    width: 32%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.energy-grid-item img {
    border-radius: var(--radius);
    filter: grayscale(1);
    transition: .5s;
}

.energy-grid-item:hover img {
    filter: grayscale(0);
    scale: 1.05;
}

.energy-grid-item p {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .5s;
}

.energy-grid-item:hover p {
    letter-spacing: 3px;
}
/*********************** Fim Energy Solutuions ***********************/

/***********************   Cases Study   ***********************/
.cases-gallery {
    columns: 3 300px;
}

.cases-gallery img {
    padding: .5rem 0;
    border-radius: var(--radius);    
    animation: gridAnimation both;
    animation-timeline: view(70% 5%) ;
}

@keyframes gridAnimation {
    from{
        opacity: 0;
        scale: .7;
    }
    to {
        opacity: 1;
        scale: 1;
    }    
}
/*********************** Fim Cases Study ***********************/

/* MODAL */
.modal-container{
    display: none;
    position:fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top:0;
    left:0;
    z-index:100;
    justify-content: center;
    align-items: center;
}
.modal{
    background: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    max-width: 80%;
    max-height: 80vh;
    overflow: auto;
}
#modal-image{
    width: 700px;
    height: 700px;
}

#modal-text{
    font-size: 4rem;
    color:red;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    font-weight: bold;
    color: #a81010;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.close-button:hover {
    color: #555;
}

#modal-content {
    text-align: center;
}

#modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/*Responsividade*/

@media(width <=1024px){

    .sanduiche{
        display: block;
    }
    .header-menu{
        width: 100%;
        height: 100dvh;
        background: var(--gradient);
        position: absolute;
        z-index: 1;
        top:0;
        right: -100%;
        gap:0;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.5s;
    }
    .active{
        right: 0;
    }

    .sanduiche.active .barra:first-child{
        transform: translateY(8px) rotate(360deg) rotate(45deg);
    }
    .sanduiche.active .barra:nth-child(2){
        opacity: 0;
    }
    .sanduiche.active .barra:last-child{
        transform: translateY(-8px) rotate(-360deg) rotate(-45deg);
    }
    .header-menu{
        gap:6rem;
        font-size: 3rem;
    }

}